*.pyc
/dataset
/dissect
/models
/results
/notebooks/dataset
/notebooks/dissect
/notebooks/netdissect
/notebooks/models
/notebooks/results
/notebooks/unused
__pycache__
.DS_Store
.__*
.ipynb*
.nfs*
.*swp
.idea
