*.pyc
/datasets
/results
/notebooks/datasets
/notebooks/results
/notebooks/netdissect
/notebooks/experiment
/notebooks/unused
/stylization/data
/stylization/models/*.pth
__pycache__
.DS_Store
.__*
.ipynb*
.nfs*
.*swp
.idea
